* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.knopka-1 {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    background-color: #3F53D8;
    border-style: solid;
    border-radius: 14px;
    border-color: #3F53D8;
    width: 240px;
    height: 59px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;

    transition: .5s;
}

.knopka-1:hover {
    letter-spacing: 1px;
    background-color: #102088;
    border-color: #102088;
}

.ssm {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    background-color: #3F53D8;
    border-style: solid;
    border-radius: 9px;
    border-color: #3F53D8;
    width: 140px;
    height: 40px;
    text-align: center;
    transition: .15s;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
}

.ssm:hover {
    background-color: #102088;
    border-style: solid;
    border-radius: 9px;
    height: 40px;
    border-color: #102088;
    width: 140px;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
}

.Features {
    display: flex;
    justify-content: center;
}

.feat {
    height: 56px;
    width: 600px;
    left: 192.625px;
    top: -3px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    color: #080829;
}

.melk {
    height: 58px;
    width: 580px;
    left: 29px;
    top: 81px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 10px;
}

.another {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.tx1 {
    height: 112px;
    width: 400px;
    left: 0px;
    top: -2.5px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    margin-bottom: 15px;
}

.tx2 {
    height: 58px;
    width: 402px;
    left: 0px;
    top: 136.5px;
    border-radius: undefinedpx;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-bottom: 20px;
}

.tx3 {
    height: 29px;
    width: 380px;
    left: 36px;
    top: 7.5px;
    border-radius: undefinedpx;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #080829;
    margin-bottom: 10px;
    margin-left: 30px;
}

.tx4 {
    height: 58px;
    width: 331px;
    left: 36px;
    top: 2px;
    border-radius: undefinedpx;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #080829;
    margin-bottom: 10px;
    margin-left: 30px;
}

.tx5 {
    height: 29px;
    width: 354px;
    left: 36px;
    top: -1px;
    border-radius: undefinedpx;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #080829;
    margin-bottom: 10px;
    margin-left: 30px;
}



.sss {
    text-decoration: none;
}

.imkks3 {
    margin-left: 260px;
    margin-top: 20px;
}



.smm {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    height: 112px;
    width: 344px;
    left: 0px;
    top: -2.5px;
    border-radius: nullpx;
}

.sss {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
}

.strat {
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.47999998927116394px;
    text-align: center;
    margin-top: 100px;
    text-align: center;
}

.imk {
    margin-top: 30px;

    display: flex;
    justify-content: center;
}

.crupn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.ccc {
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 30px;
}

.cc {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.019999999552965164px;
    text-align: center;
}

.cm {
    margin-bottom: 5px;
    margin-top: 70px;
}

.flel {
    display: flex;
    justify-content: center;
}

.f {
    left: 118.03125px;
    top: 2.5px;
    border-radius: nullpx;
    font-size: 20px;
    margin-left: 45px;
    margin-top: 15px;
}

.f1 {
    margin-left: 280px;
}

.f6 {
    margin-left: 250px;
}

.tt {
    margin-top: 100px;
}

.imagen {
    margin-left: 110px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.blok2Sl {
    height: 112px;
    width: 350px;
    left: 0px;
    top: -3.15625px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    margin-top: 100px;
}

.blok2Sl2 {
    height: 87px;
    width: 380px;
    left: 0px;
    top: 135.84375px;
    border-radius: nullpx;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 20px;
}

.blok2 {
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
}

.chel {
    margin-top: 30px;
}

.blok3Sl {
    height: 112px;
    width: 297px;
    left: 0px;
    top: -2.5px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    margin-top: 150px;
}

.blok3Sl3 {
    height: 112px;
    width: 355px;
    left: 0px;
    top: 107.5px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
}

.blok3Sl2 {
    height: 87px;
    width: 425px;
    left: 0px;
    top: 246.5px;
    border-radius: nullpx;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 20px;
}

.blok3 {
    display: flex;
    justify-content: center;
}

.bl3 {
    margin-left: 150px;
}

.line {
    border-bottom: 1px solid rgba(8, 8, 41, 0.3);
    height: 1px;
    width: 432px;
    left: 0px;
    top: 367px;
    border-radius: 0px;
    margin-top: 30px;
}

.stroka {
    height: 56px;
    width: 186px;
    left: -0.09375px;
    top: -2.59375px;
    border-radius: nullpx;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    text-align: center;
}

.LineWord1 {
    height: 56px;
    width: 200px;
    left: -0.09375px;
    top: -2.59375px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    margin-top: 200px;
}

.LineWord2 {
    height: 56px;
    width: 424px;
    left: 185.90625px;
    top: -2.59375px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    margin-top: 200px;
}

.LineWordD {
    justify-content: center;
    display: flex;
}

.blok4 {
    justify-content: center;
    display: flex;
    gap: 100px;
}

.blok4Sl1 {
    height: 34px;
    width: 316px;
    left: 0px;
    top: 39.421875px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    letter-spacing: 0.56px;
    color: #080829;
    margin-top: 30px;
}

.blok4Sl2 {
    height: 87px;
    width: 334px;
    left: 0px;
    top: 93.421875px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 20px;
}

.blok4Sl3 {
    height: 34px;
    width: 339px;
    left: 0px;
    top: 39.421875px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.56px;
    color: #080829;
    margin-top: 30px;
}

.blok4Sl4 {
    height: 87px;
    width: 333px;
    left: 0px;
    top: 93.421875px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 20px;
}

.blok4Sl5 {
    height: 34px;
    width: 249px;
    left: 0px;
    top: 39.421875px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.56px;
    color: #080829;
    margin-top: 30px;
}

.fin{
    display: flex;
    justify-content: center;
}

.kkk{
    margin-right: 100px;
    display: flex;
    justify-content: center;
    font-family: Plus Jakarta Sans;
font-size: 44px;
font-weight: 400;
line-height: 58px;
letter-spacing: 1.440000057220459px;
text-align: left;

}

.textkkk{
    height: 58px;
    width: 29px;
}

.avot{
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    height: 54px;
    width: 197px;
    left: 0px;
    top: 71.421875px;
    border-radius: nullpx;
        
}

.poslednii{
    margin-top: 220px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.tex1 {
    height: 317px;
    width: 470px;
    left: 0px;
    top: -6px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 63px;
    line-height: 79px;
    letter-spacing: 2.16px;
    color: #080829;
}

.tex2 {
    height: 87px;
    width: 495px;
    left: 0px;
    top: 342px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #080829;
    margin-top: 10px;
}

.knopka-header {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #080829;
    height: 61px;
    width: 219px;
    left: 0px;
    top: 0px;
    border-radius: 14px;
    border: 1px solid rgba(8, 8, 41, 0.2);
    border-style: solid;
    font-size: 20px;
}

.knopka-header:hover {
    border-color: #102088;
}


.blok4Sl6 {
    height: 87px;
    width: 333px;
    left: 0px;
    top: 93.421875px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 20px;
    margin-bottom: 200px;
}

.LineWordD-2 {
    justify-content: center;
    display: flex;
}

.LineWord3 {
    height: 56px;
    width: 800px;
    left: 13px;
    top: -2.578125px;
    border-radius: undefinedpx;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    color: #080829;
    margin-bottom: 200px;
}

.otval {
    justify-content: center;
    display: flex;
}
